*.pt
*.pth
trustAI
__pycache__

*.jsonl
*pkl
*.csv
*.tsv
*.log
*gpickle*pkl
*pt
__pycache__
*.pyc
*.pyo
*gpickle

*.log
*.csv
*.json
server\models\Review_Analysis_LLM\All_Beauty.json
server\models\Review_Analysis_LLM\faiss_review_index
.env

trustAI

data

server/models/Review_Analysis_LLM/faiss_review_index